$base-color: #262631
$background-color: #fff
$tint: #EAF4F7
$border-color: #71ADCE
$link-color: #006DD1
$visited-link-color: darken($link-color, 5%)
$hover-link-color: lighten($link-color, 15%)
$active-link-color: darken($link-color, 20%)
$nav-link-color: desaturate(lighten($link-color, 25%), 35%)
$meta-color: #87877D

$base-color: rgb(52,49,52)
$background-color: rgb(255,255,255)
$tint: rgb(215,240,189)
$border-color: rgb(202,132,128)
$link-color: rgb(142,189,118)
$visited-link-color: darken($link-color, 5%)
$hover-link-color: lighten($link-color, 15%)
$active-link-color: darken($link-color, 20%)
$nav-link-color: desaturate(lighten($link-color, 25%), 35%)
$meta-color: lighten($base-color, 20%)
