@import "fontfaces.scss"

// Variables

$header-fonts: "FiraSans", sans-serif
$body-fonts: "FiraSans", sans-serif
$code-fonts: "FiraMono", monospace

// Style

.entypo
  font-family: "Entypo"

.entypo-social
  font-family: "EntypoSocial"
