%footer.branding.container
  %p(style="text-align: center;")
    %span(style="font-size: 4em;" class="entypo")
      &#128325;&#128326;&#128330;
    %span(style="font-size: 4em;" class="entypo-social")
      %a(href="https://twitter.com/openstreetmapse") &#62217;
      %a(href="https://facebook.com/groups/osmsweden/") &#62220;
