#home-map
  :javascript
    var highlights = [{ lat: 59.32491994, lng: 18.07076096, zoom: 17 }, // Stockholm
                      { lat: 63.82461967, lng: 20.26376720, zoom: 14 }, // Umeå
                      { lat: 62.39353160, lng: 17.29788780, zoom: 15 }, // Sundsvall
                      { lat: 57.70245042, lng: 11.96108579, zoom: 15 }, // Göteborg
                      { lat: 56.16397477, lng: 15.58354586, zoom: 18 }, // Karlskrona
                      { lat: 55.70567701, lng: 13.19585680, zoom: 18 }, // Lund
                      { lat: 56.66457014, lng: 16.36389434, zoom: 17 }, // Kalmar
                      { lat: 55.61378339, lng: 12.97159194, zoom: 16 }  // Malmö
                     ];
    var randLocation = highlights[Math.floor(Math.random()*highlights.length)];

    var home_map = L.map('home-map', {
      center: randLocation,
      zoom: randLocation.zoom,
      zoomControl: false,
      attributionControl: false
    });
    L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png', {
      maxZoom: 18,
      subdomains: 'abcdef',
      detectRetina: false
    }).addTo(home_map);

    var home_map_zoom = L.control.zoom();
    var home_map_height = $('#home-map').height();
    var home_map_expanded = false;
    var home_map_hash = null;
    $('#home-map').after(
      $('<div id="home-map-toggler" style="font-size: 2em; text-align: center; color: #b4b0b4; cursor: pointer;" class="entypo">&#59236;</div>').click(function() {
        if (home_map_expanded) {
          home_map.removeControl(home_map_zoom);
          $('#home-map').animate(
            {
              'height': home_map_height
            }, {
              'duration': 500,
              'done': function() {
                $('#home-map-toggler').html('&#59236;');
                home_map.invalidateSize(true);
                home_map_hash.removeFrom(home_map);
                location.hash = '';
              }
            });
          home_map_expanded = false;
        } else {
          $('#home-map').animate(
            {
              'height': $(window).height() - $('#home-map-toggler').height() - $('#header').height()
            }, {
              'duration': 500,
              'done': function() {
                $('#home-map-toggler').html('&#59239;');
                home_map.invalidateSize(true);
                home_map_hash = new L.Hash(home_map);
                home_map.addControl(home_map_zoom);
              }
            });
          home_map_expanded = true;
        }
      })
    );

    if (location.hash.match(/#\d{1,2}\//)) {
      $('#home-map-toggler').click();
    }


%div.container.clearfix
  #content.home
    %article(role="main")
      ~ @page.to_html(self)

      %section.pages
        = article_summaries(@page.pages)

      - unless @page.articles.empty?
        %section.articles
          %header
            %h1= articles_heading
          = article_summaries(@page.articles)

      = haml :page_meta, :layout => false, :locals => { :page => @page }
